@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

/* make root take full screen */

#root {
  min-height: 100vh;
}